html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#general {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#eat {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-width: 50%;
  height: 50%;
  background-color: rgb(93, 237, 93);
}

#play {
    display: flex;
  flex-direction: column;
  min-width: 50%;
  max-width: 50%;
  height: 50%;
  background-color: rgb(237, 232, 93);
}

#fight {
  width: 50%;
  height: 50%;
  background-color: rgb(236, 91, 91);
}

#room {
  width: 50%;
  height: 50%;
  background-color: rgb(55, 192, 210);
}

#tamagochi-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: auto;
  z-index: 10;
}

.barra {
  width: 250px;
  height: 25px;
  background-color: #222;
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px #000;
  position: relative; 
}

.progreso {
  width: 0%; /* se actualizará con JS */
  height: 100%;
  background-color: rgb(93, 237, 93);
  transition: width 0.3s;
  border-radius: 5px 0 0 5px;
}

#xpBar {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#xp {
  width: 70%;
  height: 100%;
}

/*Campo de zanahoria y controles*/
#foodBar {
  width: 40%;
  text-align: center;   
  top: 50%;
  margin-left: 10px;
  margin-bottom: auto;
  transform: translateY(-50%);
  pointer-events: none; /* evita que interfiera con clicks */
  font-weight: bold;
  color: #000;
}

#comida {
   width: 0%; 
  height: 100%;
  background-color: rgb(93, 237, 93);
  transition: width 0.3s;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

#foodText {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none; /* para que no interfiera con clicks */
}

#statsFood {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  gap: 20px;
  align-items: center;
}

#zanahoriaImg {
  margin-left: 10%;
  height: 100%;
}

#regadoraImg {
  margin-left: 10%;
  height: 100%;
}
#panelControlComida {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5px;
  height: 90%;
}
#campoZanahorias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
#campoZanahoriasImg {
  width: 60%;
  height: 70%;
}
#botonesAccionHuerto {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
#controlesComida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.pixel-btn {
  width: 30%;
  font-size: 10px;
  color: #fff;
  background-color: #c97c2e; /* color tierra/naranja */
  border: 4px solid #7b4b1f; /* borde marrón oscuro */
  padding: 12px 16px;
  text-transform: uppercase;
  cursor: pointer;

  /* efecto pixel art */
  image-rendering: pixelated;
  box-shadow: 0 4px 0 #7b4b1f, /* sombra inferior */ 0 0 0 4px #7b4b1f,
    /* borde exterior grueso */ 0 0 0 8px #3d2813; /* contorno extra oscuro */
  transition: all 0.1s ease;
}

.pixel-btn:active {
  box-shadow: 0 2px 0 #7b4b1f, 0 0 0 4px #7b4b1f, 0 0 0 8px #3d2813;
  transform: translateY(2px); /* efecto de pulsar */
  background-color: #a56623;
}


/*Para descontar/ añadir zanahorias, monedas , regadoras*/
.parpadeo-verde {
  color: #037703 !important; /* verde brillante */
  transition: color 0.3s;
}

.parpadeo-rojo {
  color: #ff0000 !important; /* rojo brillante */
  transition: color 0.3s;
}

/*Campo de juegos*/

#funBar {
   width: 40%;
  text-align: center;   
  top: 50%;
  margin-left: 10px;
  margin-bottom: auto;
  transform: translateY(-50%);
  pointer-events: none;
  font-weight: bold;
  color: #000;
}

#diversion {
  width: 60%; 
  height: 100%;
  background-color: rgb(93, 237, 93);
  transition: width 0.3s;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}
#funText{
    position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none; 
}
#statsFun {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start; 
  align-items: center;
  gap: 20px;
  height: 25px;
  margin-top: 10px;
  margin-right: 10px; 
}
#monedaImg{
    width: 5%;
}

#cantidadMonedas{
    margin-right: 10px;
}

#panelJuegos{
  margin: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* ----- ZONA DE MINIJUEGOS ----- */
.oculto {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}


#zonaMinijuego {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 20;
  color: white;
}

#contenedorMinijuego {
  position: relative;
  width: 400px;
  height: 300px;
  background-color: #222;
  border: 4px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.objetivo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(93, 237, 93);
  position: absolute;
  cursor: pointer;
}

/*Memori cartas*/
.tarjeta {
  width: 80px;
  height: 80px;
  perspective: 600px; /* perspectiva para 3D */
}

.tarjeta-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.tarjeta.volteada .tarjeta-inner {
  transform: rotateY(180deg);
}

.tarjeta-front,
.tarjeta-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 3px solid #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.tarjeta-front {
  background-color: #555; /* lado oculto */
}

.tarjeta-back {
  background-color: red; /* cambia luego dinámicamente */
  transform: rotateY(180deg);
}

/*CSS para lo de fuerza*/

#statsStrength {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#statsStrength img {
  width: 7%;
  margin-top: 5px;
  margin-left: 5%;
}

/* --- Contenedor de la barra --- */
#strengthBar {
  width: 40%;
  height: 25px;
  background-color: #222; 
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px #000;
  position: relative; 
  text-align: center;
  margin-left: 15px;
}


#strength {
  width: 0%;
  height: 100%;
  background-color: rgb(93, 237, 93); 
  transition: width 0.3s;
  border-radius: 5px 0 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
#sacoBoxeoIMG{
  width: 40%;
}

#strengthText{
    position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none; 
}

#panelControlFuerza{
  display: flex;
  align-items: center;
  gap: 100px; 

}

#botonesFuerza{
  width: 60%;
}

.golpe {
  animation: golpeAnim 0.2s;
}

@keyframes golpeAnim {
  0% { transform: translateY(0) rotate(0deg); }
  25% { transform: translateY(-5px) rotate(-5deg); }
  50% { transform: translateY(5px) rotate(5deg); }
  75% { transform: translateY(-3px) rotate(-3deg); }
  100% { transform: translateY(0) rotate(0deg); }
}

.subida-nivel {
  box-shadow: 0 0 15px #7efc7e;
  transition: box-shadow 0.3s ease;
}

/*Zona dormitorio*/
#statsEnergy {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  height: 25px;
  margin: 10px 0;
  margin-right: 15px;
}

/* Contenedor de la barra */
#energyBar {
  width: 40%; /* igual que otras barras */
  height: 25px;
  background-color: #222; /* fondo oscuro */
  border: 3px solid black; /* borde negro */
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px #000; /* sombra */
  position: relative; 
}

/* Barra de progreso */
#energy {
  width: 60%; /* porcentaje inicial */
  height: 100%;
  background-color: rgb(93, 237, 93); /* verde */
  transition: width 0.3s ease; /* transición suave */
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

/* Texto centrado */
#energyText {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none; /* no interfiere con clicks */
}

/*Zona dormitorio*/

#overlay {
  position: fixed; /* cubre toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7); /* oscuridad */
  pointer-events: none; /* deja pasar clicks al contenido */
  opacity: 0; /* invisible por defecto */
  transition: opacity 0.5s; /* suaviza la transición */
  z-index: 1000; /* encima de todo */
}

/* Clase activa */
#overlay.activo {
  opacity: 1;
}
#lampara.on{
 
 box-shadow: 
      0 0 30px 40px rgba(255, 255, 200, 0.6),   /* capa exterior más difusa */
      0 0 60px 80px rgba(255, 255, 200, 0.4),
      0 0 100px 120px rgba(255, 255, 180, 0.2); /* capa más amplia y tenue */

  /* Animación de parpadeo suave */
  animation: lamp-glow 2s infinite alternate;

  /* Luz centrada */
  transform-origin: center center;

  /* Hacer el halo circular */
  border-radius: 50%;
}

#panelDormitorio{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  
}

#armario{
  width: 20%;
}
#lampara{
  width: 20%;
  height: 10%;
}
#divLampara{
  width: 50%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
 margin-top: 50px;
  gap: 20px;
}

#divArmario{
 width: 50%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
}